body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    margin: 0;
  }

.square {
    font-size: 2em;  
    width: 80px;     
    height: 80px;    
    margin: 5px;     
    background-color: #fff;
    color: #333;     /* Dark text color */
    border: 2px solid #333; /* Dark border */
    cursor: pointer; /* Show a pointer cursor on hover */
  }
  
  
  .board-row {
    display: flex;

  }
  
  